.storyCard {
  width: 100%;
  display: flex;
  padding: 1rem;
  background: rgba(225, 225, 225, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 0.5rem 0;
  border-radius: 5px;
  font-size: 1.6rem;
  max-height: 25rem;
}

.storyCard .ownerDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

.storyCard .ownerDetailsContainer {
  flex: 1;
  margin-right: 1rem;
}

.storyCard .ownerDetailsContainer .ownerProfile img {
  border-radius: 1rem;
  box-shadow: 1px 1px 3px rgba(18, 25, 41, 0.788);
}

.storyCard .storyDetailsContainer {
  flex: 4;
  overflow: scroll;
  text-align: center;
}

.storyCard .storyDetailsContainer p {
  text-align: left;
  margin-top: 1rem;
  font-family: 'Noto Sans', sans-serif;
}

.storyCard .storyDetailsContainer h2 {
  margin-top: 1rem;
  font-family: 'Mate SC', serif;
}

@media only screen and (max-width: 768px) {
  .storyCard {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60rem;
  }
}
