footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
  position: absolute;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  padding: 1rem;
  box-sizing: border-box;
  background: rgba(63, 209, 94, 0.2);
  font-family: 'Inconsolata', monospace;
  margin-top: 1.5rem;
}

footer .footerName {
  display: flex;
  align-items: center;
}

footer img {
  height: 3.3rem;
}

.login-signup {
  font-weight: bolder;
  color: black;
  font-size: 1.6rem;
}
