.profile {
  min-height: 80vh;
  font-size: 3rem;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 450px) {
  .profile {
    width: 100%;
    margin: 0;
  }
}
