.comment-card-container{
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 140;
}

.comment-card-container h4 {
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Mate SC', serif;
    margin-bottom: 0.5rem;
}

.comment-card-container p {
    white-space: pre-wrap;
}