.story-create-account-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storyContainer {
  width: 90%;
  min-height: 75vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.searchStoryContainer{
  padding: 1rem;
  width: 50vw;
  height: 15vh;
}

.searchStoryContainer{
  width: 80vw;
}

@media only screen and (min-width: 450px) {
  .searchStoryContainer{
    width: 50vw;
  }
}