.noStory {
  font-size: 3rem;
  position: relative;
  width: 100vw;
  height: 80vh;
  /* top: 13vh; */
  /* left: 0; */
  border-radius: 8px;
  font-family: 'Mate SC', serif;
  margin: 1rem;
  margin-bottom: 0;
}
