.signup {
  border-radius: 8px;
  padding: 1.6rem;
  width: 50%;
}

.signup form select {
  height: 2.8rem;
  font-size: 2rem;
  border-radius: 5px;
  outline: none;
  margin: 1rem;
  background: transparent;
  border: 1px dotted;
  font-family: 'EB Garamond', serif;
}

.signup h2 {
  font-family: 'Montserrat', sans-serif;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.passwordInputType {
  color: #4f4f4f;
}

@media only screen and (max-width: 450px) {
  .signup {
    width: 100%;
    border-radius: 0;
  }
}
