* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@200&family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Shadows+Into+Light&display=swap');
/* 
font-family: 'Mate SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif; 
font-family: 'EB Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Inconsolata', monospace; //for read story
font-family: 'Shadows Into Light', cursive; // for writer's
*/

html {
  font-size: 10px;
}

body {
  /* background: url('./images/abstract.jpg') fixed; */
  background: #c33764;
  /* fallback for old browsers */
  background: linear-gradient(45.2deg, #1d2671 50%, #c33764 0);
  background-position: center;
}

h1 {
  font-family: 'Mate SC', serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: max-content;
  position: relative;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: chartreuse;
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

nav .nav-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  nav {
    flex-direction: column;
  }
}
