* {
  margin: 0;
  padding: 0;
}

.default-link-color{
  color: rgb(94,40,147);
}

.default-link-color:active {
  color: red;
}



@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@200&family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
/* 
font-family: 'Mate SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif; 
font-family: 'EB Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Inconsolata', monospace; //for read story
font-family: 'Gowun Dodum', sans-serif; //current
font-family: 'Shadows Into Light', cursive; // for writer's
*/

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  /* background: url('./images/abstract.jpg') fixed; */
  background: #c33764;
  /* fallback for old browsers */
  background: linear-gradient(45.2deg, #1d2571e1 50%, #c33763f5 0);
  background-position: center;
}

hr{
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 1rem;
}

h1 {
  font-family: 'Mate SC', serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: max-content;
  position: relative;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

nav .nav-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid rgb(107, 107, 107);
  border-right: 1px solid rgb(107, 107, 107);
  flex: 1;
}

nav .nav-link {
  flex: 1;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  nav {
    flex-direction: column;
  }

  nav .nav-profile {
    border-top: 1px solid rgb(107, 107, 107);
    border-bottom: 1px solid rgb(107, 107, 107);
    border-left: none;
    border-right: none;
    padding: 1.5rem;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Button styles */
.btn{
  padding: 0.5rem;
  font-size: 1.6rem;
  outline: none;
  border-radius: 5px;
  margin: 0.5rem;
  font-family: 'Mate SC', serif;
  cursor: pointer;
  /* transition-duration: 0.4s; */
  text-decoration: none;
  font-weight: 600;
}

/* RED */
.danger-btn{
  background: white;
  color: #f44336;
  border: 2px solid #f44336;
}

.danger-btn:active{
  background: #f44336;
  color: #ffffff;
}

/* GREEN */
.green-btn{
  background: white;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

.green-btn:active{
  background: #4CAF50;
  color: white;
}

/* BLUE */ 
.blue-btn{
  background: white;
  color: #008CBA;
  border: 2px solid #008CBA;
}

.blue-btn:active{
  background: #008CBA;
  color: white;
}

/* BLACK */

.black-btn{
  background-color: #e7e7e7; 
  color: black;
  border: 2px solid #000;
}

.black-btn:active{
  background-color: #555555;; 
  color: white;
}

/* Glassmorphism effect */
.glassmorphism-white{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
}

.glassmorphism-black{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.45);
}

/* FLEX */
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Submit button */
.submit-btn {
  background: linear-gradient(-90deg, cornflowerblue, rgb(210, 105, 139));
  color: #f1f1f1;
  padding: 0.5rem;
  font-size: 1.8rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  cursor: pointer;
  text-decoration: none;
}

.submit-btn:active {
  /* color: black; */
  background: linear-gradient(90deg, cornflowerblue, rgb(210, 105, 139));
}
