* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Montserrat:wght@200&family=Noto+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Shadows+Into+Light&display=swap');
/* 
font-family: 'Mate SC', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans', sans-serif; 
font-family: 'EB Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Inconsolata', monospace; //for read story
font-family: 'Shadows Into Light', cursive; // for writer's
*/

html {
  font-size: 10px;
}

body {
  /* background: url('./images/abstract.jpg') fixed; */
  background: #c33764;
  /* fallback for old browsers */
  background: linear-gradient(45.2deg, #1d2671 50%, #c33764 0);
  background-position: center;
}

h1 {
  font-family: 'Mate SC', serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

nav {
  height: max-content;
  position: relative;
  font-size: 3rem;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background: #e0eafc;
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

nav a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

nav .nav-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid rgb(107, 107, 107);
  border-right: 1px solid rgb(107, 107, 107);
  flex: 1;
}

nav .nav-link {
  flex: 1;
  text-align: center;
}

@media only screen and (max-width: 450px) {
  nav {
    flex-direction: column;
  }

  nav .nav-profile {
    border-top: 1px solid rgb(107, 107, 107);
    border-bottom: 1px solid rgb(107, 107, 107);
    border-left: none;
    border-right: none;
    padding: 1.5rem;
  }
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: transparent;
}
